@model FixIt.Models.Users


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UId" />

            <div class="form-group">
                <label asp-for="FName" class="control-label">First Name</label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label">Last Name</label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label">Email</label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" type="password" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" maxlength="11" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
          

            <div class="form-group" >

                @if (Model.Photo != null)
                {

                    var base64 = Convert.ToBase64String(Model.Photo);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                    <img src="@imgsrc" style="max-width: 100px; max-height: 100px" />

                }
                else
                {
                    <img src="https://i0.wp.com/upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="Photo" style="max-width: 100px; max-height: 100px  ">
                }

                <input type="file" asp-for="ClientFile" accept="image/*"  class="form-control" />
                <span asp-validation-for="ClientFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImage = document.getElementById('myImage');
                myImage.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

    </script>
}
