<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog-Z Contact page</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="https://kit.fontawesome.com/a363edd0e0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <font-awesome-icon :icon="['far', 'arrow-up']" />
    <FontAwesomeIcon icon="fa-duotone fa-arrow-up" />
    <font-awesome-icon :icon="['fad', 'arrow-up']" />
    <font-awesome-icon :icon="['far', 'arrow-up']" />
    <FontAwesomeIcon icon="fa-duotone fa-arrow-up" />
    <font-awesome-icon :icon="['fas', 'arrow-up']" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--

    TemplateMo 556 Catalog-Z

    https://templatemo.com/tm-556-catalog-z

    -->
</head>
<body>
    <!-- Page Loader -->
   <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
  
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"></div>

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50">
    
            <div class="col-lg-4 col-12 mb-5">
                <div class="tm-address-col">
                    <h2 class="tm-text-primary mb-5">Meet us</h2>

                    <ul class="tm-contacts">
                        <li>
                            <!--<a href="https://www.google.com/intl/ar/gmail/about/" class="tm-text-gray">-->
                            <i id="icon" class="fas fa-envelope"></i>
                            Email:WWW@Fix today.com
                        </li>
                        <li>
                            <!--<a href="#" class="tm-text-gray">-->
                            <i id="icon" class="fas fa-phone"></i>
                            Tel: 010-020-0340

                        </li>
                        <li>
                            <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
                            contact us with our linkedin account
                        </li>

                        <li>
                            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>

                            contact us with our facebook account

                        </li>
                    
                    </ul>
                </div>
            </div>
     
        </div>
     

      

        <script src="~/js/plugins.js"></script>
        <script>
            $(window).on("load", function () {
                $('body').addClass('loaded');
            });
        </script>
</body>
</html>