
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fix today Web Site</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="https://kit.fontawesome.com/a363edd0e0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <font-awesome-icon :icon="['far', 'arrow-up']" />
    <FontAwesomeIcon icon="fa-duotone fa-arrow-up" />
    <font-awesome-icon :icon="['fad', 'arrow-up']" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
     <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
  
   
    <section class=" themain">
        <section class="left-sec">
            <h3>every phone spare parts you need in one place.</h3>
            <p>
                finally now all your spare parts you need from any
                brand<br /> and any category are accessible from the same place.
            </p>
            
        </section>
        <section class="right-sec"><img src="~/img/123-1232782_smart-phone-electronic-parts-cell-doc-mobile-repairing.webp"></section>
    </section>
    <section class="name">
        <div class="line">
            <h2>SHOP BY BRAND</h2>
        </div>
    </section>

    <section class="Main">
        <div class="contain">
            <div class="inner-main" id="hov" data-id="2114530b" data-element_type="column">
           

                    <img loading="lazy" decoding="async" width="192" height="192" src="~/img/oppo.webp" class="elementor-animation-float attachment-full size-full wp-image-8853" alt="2e7cdc22 5a5f 2"  sizes="(max-width: 192px) 100vw, 192px">

            </div>
          
            <div class="inner-main" data-id="2114530b" data-element_type="column">
              

                    <img loading="lazy" decoding="async" width="192" height="192" src="~/img/vivo.webp" class="elementor-animation-float attachment-full size-full wp-image-9906" alt="cb96df6e 080f 1"  sizes="(max-width: 192px) 100vw, 192px">

            </div>
          
            <div class="inner-main" data-id="2114530b" data-element_type="column">
              

                    <img loading="lazy" decoding="async" width="192" height="192" src="~/img/samsung.webp" class="elementor-animation-float attachment-full size-full wp-image-8855" alt="406a512d e8dd 2"  sizes="(max-width: 192px) 100vw, 192px">

            </div>
        
            <div class="inner-main" data-id="2114530b" data-element_type="column">
               

                    <img loading="lazy" decoding="async" width="192" height="192" src="~/img/xiumu.webp" class="elementor-animation-float attachment-full size-full wp-image-8856" alt="20922c34 8afc 2"  sizes="(max-width: 192px) 100vw, 192px">

            </div>
       
            <div class="inner-main" data-id="2114530b" data-element_type="column">
            

                    <img loading="lazy" decoding="async" width="192" height="192" src="~/img/apple.webp" class="elementor-animation-float attachment-full size-full wp-image-8857" alt="ac5c9a7b 76b5 2"  sizes="(max-width: 192px) 100vw, 192px">

              
            </div>

        </div>
    </section>


    <section class="name">
        <div class="cont">
            <div class="butt">
              
            </div>
        </div>
    </section>
    <div class="line">
        <h2>SHOP BY SPARE-PARTS</h2>
    </div>


    <!--spare parts-->


    <section class="Main2">
        <div class="contain2">
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
               
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/03/Mobile-Screen-1-e1679238430133.jpg.webp" class="elementor-animation-float attachment-full size-full wp-image-13570" alt="Mobile Screen 1 e1679238430133" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Mobile Screen</figcaption>
               
            </div>
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
        
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/02/21OrLgsDClL-1-2.jpg.webp" class="elementor-animation-float attachment-full size-full wp-image-8864" alt="21OrLgsDClL 1 2" srcset="https://phoner.in/wp-content/uploads/2023/02/21OrLgsDClL-1-2.jpg.webp 350w, https://phoner.in/wp-content/uploads/2023/02/21OrLgsDClL-1-2-300x300.jpg.webp 300w, https://phoner.in/wp-content/uploads/2023/02/21OrLgsDClL-1-2-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Touch Glass & Touch Pad</figcaption>
            
            </div>
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
              
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/03/Sim-Tray-e1679238805273.jpg.webp" class="elementor-animation-float attachment-full size-full wp-image-13576" alt="Sim Tray e1679238805273" srcset="https://phoner.in/wp-content/uploads/2023/03/Sim-Tray-e1679238805273.jpg.webp 350w, https://phoner.in/wp-content/uploads/2023/03/Sim-Tray-e1679238805273-300x300.jpg.webp 300w, https://phoner.in/wp-content/uploads/2023/03/Sim-Tray-e1679238805273-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Sim Tray</figcaption>

              
            </div>
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
              
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/03/Battery1-e1679239458562.jpg" class="elementor-animation-float attachment-full size-full wp-image-13577" alt="Battery1 e1679239458562" srcset="https://phoner.in/wp-content/uploads/2023/03/Battery1-e1679239458562.jpg 350w, https://phoner.in/wp-content/uploads/2023/03/Battery1-e1679239458562-300x300.jpg 300w, https://phoner.in/wp-content/uploads/2023/03/Battery1-e1679239458562-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Battery</figcaption>

            </div>
     
        </div>
    </section>


    <section class="Main2">
        <div class="contain2">
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
             
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/03/Charging-Board-e1679240015524.jpg" class="elementor-animation-float attachment-full size-full wp-image-13580" alt="Charging Board e1679240015524" srcset="https://phoner.in/wp-content/uploads/2023/03/Charging-Board-e1679240015524.jpg 350w, https://phoner.in/wp-content/uploads/2023/03/Charging-Board-e1679240015524-300x300.jpg.webp 300w, https://phoner.in/wp-content/uploads/2023/03/Charging-Board-e1679240015524-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Charging Board</figcaption>

               
            </div>
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
            
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/03/Back-Panel-e1679239884242.jpg.webp" class="elementor-animation-float attachment-full size-full wp-image-13579" alt="Back Panel e1679239884242" srcset="https://phoner.in/wp-content/uploads/2023/03/Back-Panel-e1679239884242.jpg.webp 350w, https://phoner.in/wp-content/uploads/2023/03/Back-Panel-e1679239884242-300x300.jpg.webp 300w, https://phoner.in/wp-content/uploads/2023/03/Back-Panel-e1679239884242-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Back Panel & Glass</figcaption>

              
            </div>
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
               
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/02/lcd_frame_middle_chassis_for_oppo_a15_black_by_maxbhi_com_89832_1-2.jpg.webp" class="elementor-animation-float attachment-full size-full wp-image-8872" alt="lcd frame middle chassis for oppo a15 black by maxbhi com 89832 1 2" srcset="https://phoner.in/wp-content/uploads/2023/02/lcd_frame_middle_chassis_for_oppo_a15_black_by_maxbhi_com_89832_1-2.jpg.webp 350w, https://phoner.in/wp-content/uploads/2023/02/lcd_frame_middle_chassis_for_oppo_a15_black_by_maxbhi_com_89832_1-2-300x300.jpg.webp 300w, https://phoner.in/wp-content/uploads/2023/02/lcd_frame_middle_chassis_for_oppo_a15_black_by_maxbhi_com_89832_1-2-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Middle Frame</figcaption>

             
            </div>
            <div class="inner-main2" data-id="2114530b" data-element_type="column">
                
                <img loading="lazy" decoding="async" width="250" height="450" src="https://phoner.in/wp-content/uploads/2023/03/Camera-Glass-e1679239697486.jpg.webp" class="elementor-animation-float attachment-full size-full wp-image-13578" alt="Camera Glass e1679239697486" srcset="https://phoner.in/wp-content/uploads/2023/03/Camera-Glass-e1679239697486.jpg.webp 350w, https://phoner.in/wp-content/uploads/2023/03/Camera-Glass-e1679239697486-300x300.jpg.webp 300w, https://phoner.in/wp-content/uploads/2023/03/Camera-Glass-e1679239697486-150x150.jpg.webp 150w" sizes="(max-width: 350px) 100vw, 350px">
                <figcaption class="widget-image-caption wp-caption-text">Camera Glass</figcaption>

             
            </div>
       
        </div>
    </section>

    <section class="benefits">
        <div class="con">
            <div class="bene">
                <img decoding="async" src="https://phoner.in/wp-content/uploads/elementor/thumbs/pngtree-fast-delivery-icon-delivery-icon-png-image_2047531-qftgsdcbj86ybp9e9x4qs8lj2q2a8u67z7mkm68bbs.jpg" title="pngtree-fast-delivery-icon-delivery-icon-png-image_2047531.jpg" alt="pngtree-fast-delivery-icon-delivery-icon-png-image_2047531.jpg" loading="lazy">
                <h4>
                    Cash On Delivery
                </h4>
                <p>
                    We take 10% of amount in online mode on placing order and rest 90% of amount upon delivery in cash.
                </p>
            </div>
            <div class="bene">
                <img decoding="async" src="https://phoner.in/wp-content/uploads/elementor/thumbs/Parcel-Back-Delivery-Return-Icon-Graphics-13337306-1-580x376-1-qftgsi1iheddxr2kih5vmpeu1nf4bbovnuw00k1cgo.jpg" title="Parcel-Back-Delivery-Return-Icon-Graphics-13337306-1-580×376-1.jpg" alt="Parcel-Back-Delivery-Return-Icon-Graphics-13337306-1-580x376-1.jpg" loading="lazy">
                <h4>
                    Easy Return & Replacement
                </h4>
                <p>
                    We provide return &amp; replacement for manufacturing defects found in any products within 3 days.
                </p>
            </div>
            <div class="bene">
                <img decoding="async" src="https://phoner.in/wp-content/uploads/elementor/thumbs/depositphotos_61498847-stock-illustration-original-icon-q1znqqjx9o13lcpvpzfaoiqb0xx1nd391emum7vu54.webp" title="depositphotos_61498847-stock-illustration-original-icon.webp" alt="depositphotos_61498847-stock-illustration-original-icon.webp" loading="lazy">
                <h4>
                    Best Quality
                </h4>
                <p>
                    We provide the best quality mobile parts that performs as like as original.
                </p>
            </div>
        </div>
    </section>



    <!-- details -->

    <div class="dtail">
        <div class="detail">
            <h1>Buy Good-quality Mobile Phone Spare Parts Online India</h1>
            <p>Are you unable to get a Samsung phone screen display? Life without a phone is difficult to imagine. To get genuine and finest quality mobile phone spare parts online, check out at Fix today. We know how anxious you might get if you’re unable to find authentic spare parts for your phone.</p>
            <p>Shade your worries. At Fix today, we stock the finest and close to original spare parts of different brands of phone. Whether it’s an Apple iPhone or a simple Oppo set, you can now buy mobile phone spare parts quickly from us.</p>
            <p>We deal in brands like Apple, Samsung, Vivo, Oppo, Realme, Nokia, Nokia and Honor.</p>
            <p><strong><em>Name it and we have it - your one stop destination for all types of spare parts. </em></strong></p>
            <p>Browse online and save your time and energy to search for the stores.</p>
            <p>Irrespective of new or old model - we have a range of spare parts where you can find a match for your phone. Check out our website for fresh and guaranteed quality mobile spare parts.</p>
            <p class="parag"><strong><em>Get in touch with us and get your requirements fulfilled at the earliest. </em></strong></p>

        </div>
        <div class="detail">
            <h4>Buy Mobile Phone Spare Parts That Suits Every Model</h4>
            <p>Do you have an Apple iPhone or an iPad that is damaged? It is difficult to find spare parts for Apple nearby. At Fix today, you get access to authentic Apple mobile phone spare parts for every model of iPhone that’s available in the market.</p>
            <p>Not only Apple, we have a huge store of Gorilla glass, fingerprint sensors, rear housing panel battery, charging ports and branded motherboards as well. Our team of sellers search out the market and collect different spare parts of all models at one place.</p>

            <p>We don't compromise with quality. Trust us and get the best quality spare parts for your phone. All these spare parts are available at an unbelievable discounted price. Compare them with the market and you’ll be amazed to find the low rates that we offer.</p>
            <p><strong><em>Buy from us and make your phone as good as the new one.</em></strong></p>
        </div>
    </div>



   <style>
        .container {
            display: flex;
            margin-bottom: 30px px;
            width: 100%;
            margin-left: 20px;
        }
    </style>

    <script src="~/js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>